{% extends 'notifications/base.html' %}
{% load forum_tags %}
{% block description %}
    <a href="{{ actor.get_absolute_url }}">{{ actor.nickname }}</a>
    赞了你在
    <a class="js-read" data-state="{% if notification.unread %}1{% else %}0{% endif %}"
       href="{{ target.content_object.get_absolute_url }}#c{{ target.pk }}">
        {{ target.content_object.title }}
    </a>
    的回复
{% endblock description %}
{% block reply %}
    <div class="mark py-1 mt-1 small">
        {{ target.comment|parse_nicknames|mark|bleach|safe }}
    </div>
{% endblock reply %}