{% extends "account/base.html" %}
{% load account %}
{% load i18n %}
{% block title %}忘记密码 - Pythonzhcn{% endblock title %}
{% block main %}
    <div class="col-md-8">
        <div class="card mt-3">
            <div class="card-header h5 font-weight-bold bg-primary text-white">重置密码</div>
            <div class="card-block">
                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                    <div class="form-group">
                        {{ form.captcha }}
                        {{ form.captcha.errors }}
                    </div>
                    <button class="btn btn-primary btn-sm" type="submit">重置密码</button>
                </form>
            </div>
        </div>
    </div>
{% endblock main %}