{% extends "users/base.html" %}
{% block title %}设置密码 - Pythonzhcn{% endblock title %}
{% block card %}
    <div class="card mt-3">
        <div class="card-header h5 font-weight-bold bg-primary text-white">设置密码</div>
        <div class="card-block">
            <form action="{% url 'account_set_password' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <button class="btn btn-primary btn-sm">设置</button>
            </form>
        </div>
    </div>
{% endblock card %}
