{% extends "account/base.html" %}
{% load i18n %}
{% block title %}重置密码 - Pythonzhcn{% endblock title %}
{% block main %}
    <div class="col-md-8">
        <div class="card mt-3">
            <div class="card-header h5 font-weight-bold bg-primary text-white">重置密码</div>
            <div class="card-block">
                <h1 class="h5">{% if token_fail %}{% trans "Bad Token" %}{% endif %}</h1>

                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been
                        used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>
                        .{% endblocktrans %}</p>
                {% else %}
                    {% if form %}
                        <form method="POST" action=".">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    {{ field }}
                                    {{ field.errors }}
                                </div>
                            {% endfor %}
                            <button class="btn btn-primary btn-sm" type="submit">设置密码</button>
                        </form>
                    {% else %}
                        <p>{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock main %}
