{% extends "account/base.html" %}
{% block title %}注册 - Pythonzhcn{% endblock title %}
{% block main %}
    <div class="col-md-8">
        <div class="card mt-3">
            <div class="card-header h5 font-weight-bold bg-primary text-white">新用户注册</div>
            <div class="card-block">
                <form action="{% url 'account_signup' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                    <button class="btn btn-primary btn-sm" type="submit">注册</button>
                    <a class="text-white btn btn-info btn-sm ml-2"
                       href="{% url 'account_login' %}">已有账户登录</a>
                </form>
                <div class="mt-3">
                    无法收到激活邮件？<a class="text-danger" href="http://pythonzh.cn/post/46/">点击这里</a>
                    <div class="text-muted">Gmail 和 QQ 邮箱用户请尝试检查垃圾箱</div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}