{% extends 'base.html' %}
{% load staticfiles %}
{% load comments %}
{% load notifications_tags %}
{% load forum_tags %}
{% load bootstrap_pagination %}
{% block main %}
    <main class="col-md-8 mb-1">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="pull-right">帖子总数 {{ post_list.count }}</span>
                <div class="media">
                    <a class="media-left">
                        <img class="media-object" src="{{ category.cover.cover_thumbnail.url }}"
                             alt="" style="width: 72px;border-radius: 10px">
                    </a>
                    <div class="media-body">
                        <nav class="media-heading">
                            <a href="{% url 'forum:index' %}">django forum demo</a> >
                            {% for category in category_ancestors %}
                                <a href="{% url 'categories:posts' category.slug %}">{{ category }}</a> >
                            {% endfor %}
                            <a>{{ category }}</a>
                        </nav>
                        <div class="text-muted small">
                            {{ category.description }}
                        </div>
                        <button class="btn btn-sm btn-outline-primary" style="margin-top: 8px"><a
                                href="{% url 'forum:create' category.slug %}">发布新帖子</a>
                        </button>
                    </div>
                </div>
            </li>
            {% if category.children.count %}
                <li class="list-group-item  bg-faded">
                    <ul class="list-inline">
                        <li class="list-inline-item"><span class="">子分类：</span></li>
                        {% for c in category.children.all %}
                            <li class="list-inline-item"><a href="{% url 'categories:posts' c.slug %}"
                                                            class="tag tag-default">{{ c }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
            {% for post in page_obj %}
                <li class="list-group-item">
                    <div class="media">
                        <a class="media-left" href="{{ post.author.get_absolute_url }}">
                            <img class="media-object" src="{{ post.author.mugshot_thumbnail.url }}"
                                 alt="" style="width: 48px;">
                        </a>
                        <div class="media-body">
                            {#                        {% url 'forum:detail' post.slug %}#}
                            <h5 class="media-heading"><a href="{% url 'forum:detail' post.slug %}">{% if post.pinned %}
                                <span style="color: red">[置顶]</span>{% endif %} {{ post.title }}</a>
                            </h5>
                            <ul class="list-inline text-muted small">
                                <li class="list-inline-item"><a
                                        href="{{ post.author.get_absolute_url }}"><strong>{{ post.author.nickname }}</strong></a>
                                </li>
                                {% if post.latest_reply %}
                                    <li class="list-inline-item">
                                        <time>{{ post.latest_reply.submit_date|timesince }}前</time>
                                    </li>
                                    <li class="list-inline-item">最后回复来自 <a
                                            href="{{ post.latest_reply.user.get_absolute_url }}"><strong>{{ post.latest_reply.user.nickname }}</strong></a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        {% get_comment_count for post as reply_count %}
                        {% if reply_count %}
                            <div class="media-right media-middle">
                                <a href="{{ post.get_absolute_url }}"
                                   class="tag tag-default tag-pill">{{ reply_count }}</a>
                            </div>
                        {% endif %}
                    </div>
                </li>
            {% empty %}
                <li class="list-group-item">暂无帖子</li>
            {% endfor %}
            {% if post_list.count and paginator.num_pages > 1 %}
                {% bootstrap_paginate page_obj size='small' range=10 show_first_last='true' %}
            {% endif %}
        </ul>
    </main>
{% endblock main %}