{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block main %}
    <div class="col-md-8">
        <div class="card">
            <div class="card-header"><a href="{% url 'forum:index' %}">django forum demo</a> > <span>登录</span></div>
            <div class="card-block">
                {% crispy form %}
                <a href="{% url 'account_reset_password' %}">我忘记密码了？</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">其他登录方式</div>
            <div class="card-block">
                <p class="card-text">第三方登录功能正在开发中...</p>
            </div>
        </div>
    </div>
{% endblock main %}