{% load forum_tags %}

<li class="list-group-item clearfix">
    <div class="" style="margin-bottom: 8px">
        回复了 <a
            href="{{ reply.content_object.author.get_absolute_url }}">{{ reply.content_object.author.nickname }}</a>
        创建的主题 › <a
            href="{{ reply.content_object.get_absolute_url }}#c{{ reply.pk }}">{{ reply.content_object.title }}</a>
    </div>
    <div class="mark">
        {{ reply.reply_html|bleach }}
    </div>
    <time class="pull-right small text-muted">{{ reply.submit_date|timesince }}前</time>
</li>