{% load follow_tags %}
{% load forum_tags %}

<div class="media">
    <div class="media-left">
        <img class="media-object" src="{{ follow_object.mugshot_thumbnail.url }}" alt=""
             style="width: 48px;">
    </div>
    <div class="media-body">
        <div class="media-heading">{{ follow_object.nickname }}</div>
        <p>{{ follow_object.signature }}</p>
        {% if request.user != follow_object %}
            <button class="btn btn-sm btn-outline-info">
                <a class="unfollow-btn"
                   href="{% url 'follows:unfollow_all' content_type_id=follow_object|ctype_id object_id=follow_object.pk ftype='follow' %}">
                    <i class="fa fa-times" aria-hidden="true"></i> 取消关注
                </a>
            </button>
        {% endif %}
        <a class="btn btn-sm btn-secondary" role="button"><span
                class="follow-number">{{ follow_object|follower_count:'follow' }}</span>
            人关注</a>
    </div>
</div>