{% load forum_tags %}

<time class="text-muted small">{{ like.started|timesince }}前</time>
<div>
    喜欢了用户 <a href="{{ follow_object.author.get_absolute_url }}">{{ follow_object.author.nickname }}</a>
    发布的帖子 <a href="{{ follow_object.get_absolute_url }}">{{ follow_object.title }}</a>
    <div class="mt-1">
        <button class="btn btn-sm btn-outline-info">
            <a class="unwatch-btn"
               href="{% url 'follows:unfollow_all' content_type_id=follow_object|get_ctype_pk object_id=follow_object.pk ftype='watch' %}">
                <i class="fa fa-times" aria-hidden="true"></i> 取消喜欢
            </a>
        </button>
    </div>
</div>