{% load staticfiles %}
{% load notifications_tags %}
{% load forum_tags %}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 百度验证 -->
    <meta name="baidu-site-verification" content="Y2JKmTtCPI"/>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'forum/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'forum/css/bootstrap.min.css' %}">
    <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% notifications_unread as unread_count %}
    <title>{% if unread_count %}({{ unread_count }}) {% endif %}{% block title %}Pythonzhcn - Python
        中文社区{% endblock title %}</title>
    <style>
        img {
            max-width: 100%;
        }

        .bg-white {
            background-color: #fff;
        }

        .mugshot-24 {
            width: 24px;
            height: 24px;
        }

        .mugshot-48 {
            width: 48px;
            height: 48px;
        }

        .mugshot-96 {
            width: 96px;
            height: 96px;
        }

        .post-title {
            color: #555;
            line-height: 1.3em;
        }

        .list-dot-divider li:not(:last-child):after {
            content: ' ·';
            font-size: 1em;
        }

        #id_honeypot {
            display: none;
        }

        .hot {
            color: red;
        }

        .pinned {
            color: #ff7700;
        }

        .highlight {
            color: #b71ed7;
        }

        .cover-72 {
            width: 72px;
            height: 72px;
        }

        .cover-36 {
            width: 36px;
            height: 36px;
        }

        .errorlist {
            color: red;
        }

        .py {
            color: #fe2121;
        }

        .zhch {
            color: #f2bf45;
        }

        .logo a:hover,
        .logo a:active,
        .logo a:focus,
        .logo a:link,
        .logo a:visited {
            text-decoration: none;
        }

        .preview-area {
            border: 1px solid #ccc;
            display: none;
        }
    </style>
</head>
<body class="bg-faded">
<header>
    <nav class="navbar navbar-toggleable-md navbar-light bg-white">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand logo">
            <a class="font-weight-bold h4" href="{% url 'forum:index' %}">
                <span class="py">Python</span><span class="zhch">zhcn</span></a>
        </h1>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            {% comment %}
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">头条</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">教程</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Wiki</a>
                </li>
            </ul>
            {% endcomment %}
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item mr-2">
                        <a class="nav-link {% if unread_count %}text-danger{% endif %}"
                           href="{% url 'notifications:all' %}">
                            <i class="fa fa-bell" aria-hidden="true"></i>
                            {% if unread_count %}
                                <span class="small">{{ unread_count }} 条通知</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'forum:create' %}">发布新帖子</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink1"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="mugshot-24 rounded-circle" src="{{ user.mugshot_url }}" alt="">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink1">
                            <a class="dropdown-item" href="{{ user.get_absolute_url }}">{{ user.nickname }}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'users:settings' %}">设置</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'account_logout' %}?next={{ request.path }}">登出</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}?next={{ request.path }}">登录</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">注册</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
{% if messages %}
    <ul class="list-unstyled m-0">
        {% for message in messages %}
            <li>
                <div class="alert alert-success alert-dismissible fade show m-0 text-center" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{ message }}</strong>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endif %}
<div class="container">
    <div class="row">
        {% block content %}
            {% block main %}
            {% endblock main %}
            {% block aside %}
                <aside class="col-md-4">
                    <div class="card card-block mt-3">
                        <a class="h6 mb-0 " href="{% url 'forum:create' %}"><i class="fa fa-plus mr-2"
                                                                               aria-hidden="true"></i>快速发布新帖子</a>
                    </div>
                    <ul class="list-group mt-3">
                        <li class="list-group-item">
                            <h5 class="font-weight-bold">新加入会员</h5>
                        </li>
                        {% new_members as new_member_list %}
                        {% for member in new_member_list %}
                            <li class="list-group-item">
                                <div class="media w-100">
                                    <a href="{{ member.get_absolute_url }}">
                                        <img class="d-flex mr-2 mugshot-24 rounded"
                                             src="{{ member.mugshot_url }}" alt="">
                                    </a>
                                    <div class="media-body">
                                        <h6 class="mt-0">
                                            <a class="small text-muted"
                                               href="{{ member.get_absolute_url }}">
                                                {{ member.nickname }}
                                            </a>
                                        </h6>
                                        <div class="small text-muted">第 {{ member.pk }}
                                            号会员，加入于 {{ member.date_joined }}</div>
                                    </div>
                                </div>
                            </li>
                        {% empty %}
                            <li class="list-group-item">暂无帖子</li>
                        {% endfor %}
                    </ul>
                    <ul class="list-group mt-3">
                        <li class="list-group-item">
                            <h5 class="font-weight-bold">热门讨论</h5>
                        </li>
                        {% get_popular_posts as popular_post_list %}
                        {% for post in popular_post_list %}
                            <li class="list-group-item">
                                <div class="media w-100">
                                    <a href="{{ post.author.get_absolute_url }}">
                                        <img class="d-flex mr-2 mugshot-24 rounded"
                                             src="{{ post.author.mugshot_url }}" alt="">
                                    </a>
                                    <div class="media-body">
                                        <h6 class="mt-0">
                                            <a class="post-title"
                                               href="{{ post.get_absolute_url }}">
                                                {{ post.title }}
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                            </li>
                        {% empty %}
                            <li class="list-group-item">暂无帖子</li>
                        {% endfor %}
                    </ul>
                    <div class="card card-block mt-3">
                        <div>
                            <i class="fa fa-rss mr-2" aria-hidden="true"></i>通过 <a href="/all/rss/">RSS</a> 或 <a
                                href="/all/atom/">Atom</a> 订阅
                        </div>
                    </div>
                </aside>
            {% endblock aside %}
        {% endblock content %}
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/tether/1.4.0/js/tether.min.js"></script>
<script src="{% static 'forum/js/bootstrap.min.js' %}"></script>
<script>
    $(document).ready(function () {
        // 给表单非隐藏的 input 标签添加 Bootstrap 需要的 form-control 样式
        $("form .form-group :input[type!=hidden]").addClass('form-control');
        $("form .form-group :input[type=button]").removeClass('form-control');
        $("form .form-group :input[type=checkbox]").removeClass('form-control');

        // 预览
        $('#js-preview').on('click', function (e) {
            var $this = $(this);
            var $textarea = $this.parents('form').find('textarea');
            $.post('/ajax/preview/', {
                    'content': $textarea.val()
                }, function (data) {
                    $textarea.hide();
                    $('#js-preview-area').text('').append(data.preview).css(
                        {'min-height': $textarea.height()}
                    ).addClass('rounded bg-faded p-2').show()
                }
            );
            return false
        });

        // 编辑
        $('#js-edit').on('click', function (e) {
            var $this = $(this);
            $('#js-preview-area').hide();
            $this.parents('form').find('textarea').show().focus();
            return false
        })
    });


    //百度链接自动推送脚本代码
    (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();

    // 百度统计脚本代码
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?537d8be6a7994e059f726517533c7045";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
{% block script %}
{% endblock script %}
<footer class="bg-white mt-3 py-2">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="text-muted mb-3"><span class="py font-weight-bold">Python</span><span
                        class="zhch font-weight-bold">zhcn</span> - Python 中文社区，我们将致力于打造国内最好的 Python 开发者社区！
                </div>
                <small class="text-muted">Powered by <a class="small" href="https://www.djangoproject.com/"
                                                        target="_blank">Django</a>
                </small>
                <div class="w-100"></div>
                <small class="text-muted">Designed by <a class="small" href="http://zmrenwu.com/"
                                                         target="_blank">追梦人物</a></small>
            </div>
            <div class="col-md-4">
                <ul class="list-unstyled list-inline d-flex justify-content-between">
                    <li class="list-inline-item font-weight-bold mr-3"><a href="{% url 'forum:about' %}">关于</a></li>
                    <li class="list-inline-item font-weight-bold mr-3"><a href="http://pythonzh.cn/post/16/">使用指南</a>
                    </li>
                    <li class="list-inline-item font-weight-bold"><a href="{% url 'forum:contact' %}">联系我们</a></li>
                    <li class="list-inline-item font-weight-bold"><a href="{% url 'forum:donate' %}">捐赠</a></li>
                    {% comment %}
                    <li class="list-inline-item font-weight-bold"><a href="">常见问题</a></li>
                    {% endcomment %}
                </ul>
            </div>
        </div>
        <div class="text-center small text-muted mt-3">
            <span>Copyright © 2017 <a href="http://www.pythonzh.cn">Pythonzhcn</a></span>
            <div class="w-100 mt-1"></div>
            <span>蜀ICP备16036143号-2</span>
        </div>
    </div>
</footer>
</body>
</html>