{% load bootstrap_pagination %}

<ul class="list-group">
    {% block post_list_head %}
    {% endblock post_list_head %}

    {% for post in page_obj %}
        <li class="list-group-item">
            {% block post_item %}
                {% include 'forum/_post_item.html' %}
            {% endblock post_item %}
        </li>
    {% empty %}
        <li class="list-group-item">暂无帖子</li>
    {% endfor %}
    {% if post_list and paginator.num_pages > 1 %}
        {% bootstrap_paginate page_obj size='small' range=10 show_first_last='true' %}
    {% endif %}
</ul>
