{% extends 'base.html' %}

{% load comments %}
{% load forum_tags %}
{% block title %}{{ forum_user.nickname }}的主页 - Pythonzhcn{% endblock title %}
{% block main %}
    <div class="col-md-4">
        <div class="card mt-3">
            <div class="card-block">
                <div class="media">
                    <img class="d-flex mr-3 mugshot-96 rounded" src="{{ forum_user.mugshot_url }}" alt="">
                    <div class="media-body">
                        <div><span class="font-weight-bold">{{ forum_user.nickname }}</span></div>
                        <div class="text-muted mt-1">Pythonzhcn 第 {{ forum_user.pk }} 号会员</div>
                        <div class="text-muted">加入于 {{ forum_user.date_joined }}</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="text-center h1 text-primary">{{ forum_user.post_set.count }}</div>
                        <div class="text-center text-muted">帖子</div>
                    </div>
                    <div class="col">
                        <div class="text-center h1 text-primary">{{ forum_user.reply_comments.count }}</div>
                        <div class="text-center text-muted">回复</div>
                    </div>
                    <div class="col">
                        <div class="text-center h1 text-primary">{{ favorite_post_list.count }}</div>
                        <div class="text-center text-muted">收藏</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-block">
                <h4 class="card-title font-weight-bold">个人成就</h4>
                <div>回复共获得 <span class="text-primary font-weight-bold">{% get_user_total_praised forum_user %}</span>
                    次赞同
                </div>
                <div class="mt-2">帖子共获得 <span
                        class="text-primary font-weight-bold">{% get_user_total_recommended forum_user %}</span> 次推荐
                </div>
                <div class="mt-2">帖子共获得 <span
                        class="text-primary font-weight-bold">{% get_user_total_favorited forum_user %}</span> 次收藏
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
{% block aside %}
    <div class="col-md-8">
        <div class="card mt-3">
            <div class="card-block pb-0">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#home" role="tab">帖子</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#profile" role="tab">回复</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#favorite" role="tab">收藏</a>
                    </li>
                </ul>
            </div>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel">
                    <ul class="list-group list-group-flush">
                        {% for post in post_list %}
                            <li class="list-group-item">
                                <div class="media w-100">
                                    <div class="media-body">
                                        <h6 class="mt-1">
                                            <a class="post-title"
                                               href="{{ post.get_absolute_url }}">
                                                {{ post.title }}
                                            </a>
                                        </h6>
                                        <ul class="list-unstyled list-inline text-muted small list-dot-divider">
                                            <li class="list-inline-item m-0"><a class="bg-faded px-1"
                                                                                href="{% url 'forum:category_posts' post.category.slug %}">{{ post.category }}</a>
                                            </li>
                                            {% if post.latest_reply %}
                                                <li class="list-inline-item m-0">
                                                    <time>{{ post.latest_reply.submit_date|timeago }}</time>
                                                </li>
                                            {% endif %}
                                            <li class="list-inline-item m-0">{{ post.views }} 次点击</li>
                                            {% get_comment_count for post as reply_count %}
                                            <li class="list-inline-item m-0">{{ reply_count }} 回复</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        {% empty %}
                            <li class="list-group-item">
                                还没有发表过帖子
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane" id="profile" role="tabpanel">
                    <ul class="list-group list-group-flush">
                        {% for reply in reply_list %}
                            <li class="list-group-item">
                                <div class="row no-gutters w-100">
                                    <div class="col">
                                        <a class="post-title"
                                           href="{{ reply.content_object.get_absolute_url }}#c{{ reply.pk }}">
                                            {{ reply.content_object.title }}
                                        </a>
                                    </div>
                                    <div class="col-auto">
                                        <time class="text-muted small ml-2">{{ reply.submit_date|timeago }}</time>
                                    </div>
                                </div>
                                <div class="mark py-1 mt-1 small w-100">
                                    {{ reply.reply_html|bleach|safe }}
                                </div>
                            </li>
                        {% empty %}
                            <li class="list-group-item">
                                还没有回复
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tab-pane" id="favorite" role="tabpanel">
                    <ul class="list-group list-group-flush">
                        {% for post in favorite_post_list %}
                            <li class="list-group-item">
                                <div class="media w-100">
                                    <div class="media-body">
                                        <h6 class="mt-1">
                                            <a class="post-title"
                                               href="{{ post.follow_object.get_absolute_url }}">
                                                {{ post.follow_object.title }}
                                            </a>
                                        </h6>
                                        <ul class="list-unstyled list-inline text-muted small list-dot-divider">
                                            <li class="list-inline-item m-0"><a class="bg-faded px-1"
                                                                                href="{% url 'forum:category_posts' post.follow_object.category.slug %}">{{ post.follow_object.category }}</a>
                                            </li>
                                            {% if post.follow_object.latest_reply %}
                                                <li class="list-inline-item m-0">
                                                    <time>{{ post.follow_object.latest_reply.submit_date|timeago }}</time>
                                                </li>
                                            {% endif %}
                                            <li class="list-inline-item m-0">{{ post.follow_object.views }} 次点击</li>
                                            {% get_comment_count for post.follow_object as reply_count %}
                                            <li class="list-inline-item m-0">{{ reply_count }} 回复</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        {% empty %}
                            <li class="list-group-item">
                                还没收藏帖子
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock aside %}