{% extends 'users/base.html' %}
{% load staticfiles %}
{% block title %}个人资料 - Pythonzhcn{% endblock title %}
{% block card %}
    <div class="card mt-3">
        <div class="card-block">
            <div class="row">
                <div class="col">
                    <form action="{% url 'users:settings' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        {% endfor %}
                        <button class="btn btn-primary btn-sm" type="submit">更新资料</button>
                    </form>
                </div>
                <div class="col-auto">
                    <a href="{{ user.get_absolute_url }}">
                        <img class="d-flex mx-3 mugshot-96 rounded hidden-md-down"
                             src="{{ user.mugshot_url }}"
                             alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock card %}