{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
    <main class="col-md-8 mb-1">
        <div class="card card-block">
            <h3 class="card-title">个人资料
                <small><a href="{% url 'users:profile_change' user.username %}"><i class="fa fa-pencil-square-o"
                                                                                   aria-hidden="true"></i> 修改</a>
                </small>
            </h3>
            <hr>
            <ul class="list-unstyled">
                <li>
                    <strong>用户名：</strong>{{ user.username }}
                </li>
                <li>
                    <strong>邮箱：</strong>zmrenwu@163.com
                </li>
                <li>
                    <strong>昵称：</strong>{{ user.nickname }}
                </li>
                <li>
                    <strong>个性签名：</strong>{{ user.signature|default:"这个人很懒，什么也没留下" }}
                </li>
            </ul>
        </div>
        <div class="card card-block">
            <h3 class="card-title">头像上传</h3>
            <hr>
            <span>当前头像</span>
            <img src="{{ user.mugshot.url }}" alt="Generic placeholder image"
                 style="width: 96px;">
            <div>
                <button class="btn btn-info btn-sm"><a href="{% url 'users:mugshot_change' user.username %}">上传新头像</a>
                </button>
            </div>
        </div>
        <div class="card card-block">
            <h3 class="card-title">安全</h3>
            <hr>
            <ul class="list-unstyled">
                <li><a href="{% url 'account_change_password' %}"><i class="fa fa-key" aria-hidden="true"></i> 修改密码</a>
                </li>
                <li><a href="{% url 'account_email' %}"><i class="fa fa-envelope" aria-hidden="true"></i> 修改绑定邮箱</a>
                </li>
            </ul>
        </div>
    </main>
{% endblock main %}
{% block aside %}
    <aside class="col-md-4">
        <ul class="list-group mb-2">
            <li class="list-group-item">
                <div class="media">
                    <a class="media-left" href="#">
                        <img class="media-object" src="{{ user.mugshot.url }}"
                             alt="Generic placeholder image"
                             style="width: 48px;">
                    </a>
                    <div class="media-body media-middle">
                        <a href="">{{ user.nickname }}</a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <a href=""><i class="fa fa-pencil" aria-hidden="true"></i> 创作新主题</a>
            </li>
            <li class="list-group-item">
                <a href=""><i class="fa fa-bell" aria-hidden="true"></i> 0 条未读提醒</a>
            </li>
        </ul>
    </aside>
{% endblock aside %}