{% extends 'base.html' %}

{% block title %}关于 Pythonzhcn{% endblock title %}

{% block content %}
    <div class="card card-block col-md-9 mt-3">
        <div class="">
            <h1 class="h3 font-weight-bold">关于 <span class="py">Python</span><span class="zhch">zhcn</span></h1>
            <hr>
            <p>Pythonzhcn 是所有从事、热爱和关注 Python 的开发者们的社区。</p>
            <p>在这里，你可以分享你对开源社区的贡献，也可以享受开源带给我们的便利；你可以结识到更多志同道合的朋友，也可能会遇到更好的人生机会；你可以讨论最新最潮的技术，也可以分享你的经验和知识。</p>
            <p>我们希望 Pythonzhcn 能够成为所有 Pythonista 们的精神归宿。为此，我们将尽一切努力为 Pythonista 们服务，打造国内最好的 Python 开发者社区！</p>
            <hr>
            <h1 class="h3 font-weight-bold">>>> import this</h1>
            <ul class="list-unstyled">
                <li class="mb-2">The Zen of Python, by Tim Peters</li>
                <li>Beautiful is better than ugly.</li>
                <li>Explicit is better than implicit.</li>
                <li>Simple is better than complex.</li>
                <li>Complex is better than complicated.</li>
                <li>Flat is better than nested.</li>
                <li>Sparse is better than dense.</li>
                <li>Readability counts.</li>
                <li>Special cases aren't special enough to break the rules.</li>
                <li>Although practicality beats purity.</li>
                <li>Errors should never pass silently.</li>
                <li>Unless explicitly silenced.</li>
                <li>In the face of ambiguity, refuse the temptation to guess.</li>
                <li>There should be one-- and preferably only one --obvious way to do it.</li>
                <li>Although that way may not be obvious at first unless you're Dutch.</li>
                <li>Now is better than never.</li>
                <li>Although never is often better than *right* now.</li>
                <li>If the implementation is hard to explain, it's a bad idea.</li>
                <li>If the implementation is easy to explain, it may be a good idea.</li>
                <li>Namespaces are one honking great idea -- let's do more of those!</li>
            </ul>
            <div class="small text-muted text-right">由 <a class="" href="http://pythonzh.cn/user/1/">追梦人物</a> 于
                2017年6月6日编辑
            </div>
        </div>
    </div>
{% endblock content %}