{% extends 'base.html' %}

{% block title %}联系我们 - Pythonzhcn{% endblock title %}

{% block content %}
    <div class="card card-block col-md-12 mt-3">
        <div class="">
            <h1 class="h3 font-weight-bold">您可以通过以下任意方式联系到我们</h1>
            <hr>
            <h5 class="font-weight-bold">电子邮件</h5>
            <p>pythonzhcn@163.com</p>
            <h5 class="font-weight-bold">微信</h5>
            <p>zmrenwu</p>
            <h5 class="font-weight-bold">QQ</h5>
            <p>415468651</p>
            <h5 class="font-weight-bold">新浪微博</h5>
            <p><a href="http://weibo.com/u/6264124038?is_all=1">Pythonzhcn社区</a></p>
            <h5 class="font-weight-bold">Phone</h5>
            <p>18708130580（晚 9 点后）</p>
        </div>
    </div>
{% endblock content %}