{% extends 'base.html' %}

{% block title %}捐赠 - Pythonzhcn{% endblock title %}

{% block content %}
    <div class="card card-block col-md-12 mt-3">
        <div class="">
            <h1 class="h3 font-weight-bold">捐赠 <span class="py">Python</span><span class="zhch">zhcn</span></h1>
            <hr>
            <h5 class="font-weight-bold">为什么要有捐赠？</h5>
            <p>Pythonzhcn 是由 Pythoner 们自发组织和运营的社区，社区的一切开发、托管和运营费用均由开发者个人承担。为了减轻开发者个人负担，特设捐赠渠道。您可以通过微信或者支付宝捐赠任意金额给
                Pythonzhcn，表达一份你对社区的支持。</p>
            <p class="text-danger">由于无法从支付方获取支付者信息，请在支付的留言备注功能中附上 Pythonzhcn 社区账户的昵称等信息，以便我们记录！</p>
            <h5 class="font-weight-bold">通过微信支付捐赠</h5>
            <div>
                <img src="http://oqybo66tj.bkt.clouddn.com/%E5%BE%AE%E4%BF%A1%E6%94%AF%E4%BB%98.jpg"
                     alt="微信支付捐赠" style="width: 300px">
            </div>
            <h5 class="font-weight-bold">通过支付宝捐赠</h5>
            <div><img src="http://oqybo66tj.bkt.clouddn.com/%E6%94%AF%E4%BB%98%E5%AE%9D%E6%94%AF%E4%BB%98.jpg"
                      alt="微信支付捐赠" style="width: 300px"></div>
            <hr>
            <h5 class="font-weight-bold">捐赠名单</h5>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>捐赠渠道</th>
                    <th>名字</th>
                    <th>金额</th>
                    <th>时间</th>
                    <th>附言</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>微信</td>
                    <td>无法获取</td>
                    <td>5.0 RMB</td>
                    <td>2017-06-03</td>
                    <td>#</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>支付宝</td>
                    <td>Akkuman</td>
                    <td>10.0 RMB</td>
                    <td>2017-06-05</td>
                    <td>PythonZH-Akkuman</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>支付宝</td>
                    <td>mihello</td>
                    <td>50.1 RMB</td>
                    <td>2017-06-05</td>
                    <td>论坛第 38 号会员</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>支付宝</td>
                    <td>宜常乐</td>
                    <td>20.0 RMB</td>
                    <td>2017-06-05</td>
                    <td>#</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>支付宝</td>
                    <td>吴佐强</td>
                    <td>8.88 RMB</td>
                    <td>2017-06-05</td>
                    <td>感谢提供如此优秀的Python社区</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>QQ</td>
                    <td>兔子鲜笙</td>
                    <td>10.0 RMB</td>
                    <td>2017-06-05</td>
                    <td>人生苦短，我用Python</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>支付宝</td>
                    <td>俄语人老杜</td>
                    <td>10.0 RMB</td>
                    <td>2017-06-06</td>
                    <td>第340号会员俄语人老杜祝论坛更加出色</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>微信</td>
                    <td>未备注昵称，请与我们联系</td>
                    <td>12.0 RMB</td>
                    <td>2017-06-08</td>
                    <td>#</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>支付宝</td>
                    <td>Aaron</td>
                    <td>19.99 RMB</td>
                    <td>2017-06-16</td>
                    <td>[Aaron] I'm no.9</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>微信</td>
                    <td>未备注昵称，请与我们联系</td>
                    <td>10.00 RMB</td>
                    <td>2017-06-22</td>
                    <td>#</td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>微信</td>
                    <td>未备注昵称，请与我们联系</td>
                    <td>8.88 RMB</td>
                    <td>2017-07-04</td>
                    <td>非常感谢您的教程</td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>支付宝</td>
                    <td>piaok</td>
                    <td>8.00 RMB</td>
                    <td>2017-07-04</td>
                    <td>第528号会员 piaok</td>
                </tr>
                </tbody>
            </table>
            注：捐赠信息每24小时更新一次，所有捐赠信息均记录在案，如有疑问，请 <a href="http://www.pythonzh.cn/contact/">联系我们</a>。
        </div>
    </div>
{% endblock content %}