{% extends 'base.html' %}
{% load staticfiles %}
{% load comments %}
{% load notifications_tags %}
{% load forum_tags %}
{% load bootstrap_pagination %}
{% block main %}
    <main class="col-md-8 mb-1">
        <ul class="list-group">
            <li class="list-group-item">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="{% url 'forum:index' %}" class="btn btn-sm btn-success">全部</a>
                    </li>
                    {% get_categories as category_list %}
                    {% for category in category_list %}
                        <li class="list-inline-item"><a href="{% url 'categories:posts' category.slug %}"
                                                        class="btn btn-sm btn-outline-success">{{ category }}</a></li>
                    {% endfor %}
                </ul>
                {% get_quick_categories as quick_categoriy_list %}
                {% if quick_categoriy_list %}
                    <ul class="list-inline text-muted" style="margin-top: 16px">
                        快速浏览：

                        {% for category in quick_categoriy_list %}
                            <li class="list-inline-item"><a href="{% url 'categories:posts' category.slug %}"
                                                            class="tag tag-default">{{ category }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
            {% for post in page_obj %}
                <li class="list-group-item">
                    <div class="media">
                        <a class="media-left" href="{{ post.author.get_absolute_url }}">
                            <img class="media-object" src="{{ post.author.mugshot_thumbnail.url }}"
                                 alt="" style="width: 48px;">
                        </a>
                        <div class="media-body">
                            <h5 class="media-heading"><a href="{% url 'forum:detail' post.slug %}">{% if post.pinned %}
                                <span style="color: red">[置顶]</span>{% endif %} {{ post.title }}</a>
                            </h5>
                            <ul class="list-inline text-muted small">
                                <li class="list-inline-item"><a href="{% url 'categories:posts' post.category.slug %}"
                                                                class="tag tag-default">{{ post.category }}</a>
                                </li>
                                <li class="list-inline-item"><a
                                        href="{{ post.author.get_absolute_url }}"><strong>{{ post.author.nickname }}</strong></a>
                                </li>
                                {% if post.latest_reply %}
                                    <li class="list-inline-item">
                                        <time>{{ post.latest_reply.submit_date|timesince }}前</time>
                                    </li>
                                    <li class="list-inline-item">最后回复来自 <a
                                            href="{{ post.latest_reply.user.get_absolute_url }}"><strong>{{ post.latest_reply.user.nickname }}</strong></a>
                                    </li>
                                {% endif %}
                                {% if post.views %}
                                    <li class="list-inline-item">{{ post.views }} 次点击
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        {% get_comment_count for post as reply_count %}
                        {% if reply_count %}
                            <div class="media-right media-middle">
                                <a href="{{ post.get_absolute_url }}"
                                   class="tag tag-default tag-pill">{{ reply_count }}</a>
                            </div>
                        {% endif %}
                    </div>
                </li>
            {% empty %}
                <li class="list-group-item">暂无帖子</li>
            {% endfor %}
            {% if post_list and paginator.num_pages > 1 %}
                {% bootstrap_paginate page_obj size='small' range=10 show_first_last='true' %}
            {% endif %}
        </ul>
    </main>
{% endblock main %}