{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block main %}
    <main class="col-md-8">
        <div class="card">
            <nav class="card-header">
                <a href="{% url 'forum:index' %}">Python 中文社区</a>
                >
                {% if category %}
                    <a href="{% url 'categories:posts' category.slug %}">{{ category }}</a>
                    >
                {% endif %}
                <a>发布新帖子</a>
            </nav>
            <div class="card-block">
                {% crispy form %}
            </div>
        </div>
    </main>
{% endblock main %}